.LoginSection{
    width: 100%;
    height: 100vh;
}
.LoginSection>article.Login{
    margin: 100px auto 0 auto;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Login Wrap */
.LoginSection>article.Login>div.LoginLogoWrap{
    margin-bottom: 40px;
}
.LoginSection>article.Login>div.LoginLogoWrap>a>#LoginLogo{
    width: 127px;
}
/* Login Logo */
.LoginSection>article.Login>form{
    width: 100%;
}
.LoginSection>article.Login>form>div{
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.LoginSection>article.Login>form>input.LoginText:first-of-type{
    margin-bottom: 20px;
}
.LoginSection>article.Login>form>input.LoginText:nth-of-type(2){
    margin-bottom: 15px;
}
.LoginSection>article.Login>form>input.LoginText{
    height: 50px;
    width: 100%;
    appearance: none;
    outline: none;
    border: .5px solid #ddd;
    background-color: rgba(238, 238, 238, 0.30);
    transition: background-color .5s ease-in-out;
    border-radius: 10px;
}
.LoginSection>article.Login>form>input.LoginText:focus{
    border: 1px solid #999;
    background-color: #fff;
    outline: none;
}
.LoginSection>article.Login>form>section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LoginSection>article.Login>form>section>div.SaveIdSection>input{
    margin: 0 12px 0 2px;
}
.LoginSection>article.Login>form>section>div.FindIdSection{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.LoginSection>article.Login>form>section>div.FindIdSection>a{
    color: #555;
    font-size: 13px;
    font-weight: 400;
}
.LoginSection>article.Login>form>article{
    display: flex;
}
/* Login Form */
