.CommuQnaTitle{
    width:100%;
    background-color: #f5f5f5;
    padding:18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.CommuQnaText{
    padding:20px 0 80px 20px;
}
.CommuQnaButtonWrap{
    display: flex;
    justify-content: space-between;
}
.CommuQnaButtonWrap>div>button{
    margin-right: 15px;
}
.CommuQnaRightButtonWrap{
    display: flex;
}
.CommuQnaButtonWrap>div>div>button:first-child{
    border:1px solid blue;
    color:blue;
    background-color: transparent;
    padding:10px 20px;
    cursor: pointer;
    display: flex;
}
.CommuQnaButtonWrap>div>div>button:last-child{
    border:1px solid red;
    background-color: transparent;
    color:red;
    padding:10px 20px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
}
.CommuQuestionDetailDeleteButtonIcon{
    width:16px; 
    height:16px;
    background: url(../img/delete_red.png) center;
    background-size: cover;
    margin:2px 5px 0 0;
}
.CommuQnaButtonWrap>button{
    border:1px solid #00D67A;
    color:white;
    padding:10px 20px;
    background-color: #00D67A;
    cursor: pointer;
}
.CommuQnaButtonWrap>.CommuQnaButton{
    background-color: #444444;
    border: none;
    padding:10px 20px;
    cursor: pointer;
    margin-left: 250px;
}
.CommuQnaButtonWrap>a>.CommuQnaButton{
    color:white;
}
.CommuDetailQuestionButtonWrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.CommuQuestionDetailButton{
    padding:10px 20px;
    display: flex;
    text-align: center;
    background-color: transparent;
    color:blue;
    border: 1px solid blue;
    cursor: pointer;
}
.CommuQuestionDetailButtonIcon{
    width:20px; 
    height:20px;
    background: url(../img/write_blue.png) center;
    background-size: cover;
    margin-right: 5px;
}
.CommudetailQuestionTitle{
    width:800px;
    padding-left:10px;
    height:30px;

}
.CommudetailQuestionText{
    width:800px;
    height:250px;
    padding-left:10px;
    padding-top: 5px;
}
.CommudetailAnswerText{
    width:800px;
    height:250px;
    padding-left:10px;
    padding-top: 5px;
}
@media (max-width:1024px) {
    .CommuQnaButtonWrap>.CommuQnaButton{
        display: none;
    }

}