.CommuNoticeButton{
    padding:10px 20px;
    background-color: #444444;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor:pointer;
}
.CommuNoticeButton>a{
    color:white;
}