#backsection{
    background-color: #090909;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: -1;
}
#model{
    height: 100vh;
}

/*Loading*/
#loading{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 100px;
    overflow: hidden;
}
div#loading>p{
    height: 40px;
    font-size: 36px;
    word-break: break-all;
    font-family: 'CascadiaCode', sans-serif;
    color: #00D67A;
    overflow: hidden;
}
div#loading>p.loadingText{
    width: 0%;
    font-family: 'CascadiaCode', sans-serif;
    animation-name: loadingSlide;
    animation-duration: 3s;
    animation-timing-function: steps(31);
    animation-fill-mode: forwards;
}
div#loading>p.loadingText:nth-of-type(2){
    animation-delay: .5s;
}
@keyframes loadingSlide {
    0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
}
