#backsection{
    background-color: #090909;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: -1;
}
#model{
    height: 100vh;
}

/*Loading*/
#loadingText{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.01);
    position: relative;
    margin: 200px 100px;
    overflow: hidden;
}
#loadingText:before{
    width: 100%; 
    content: 'Welcome To Republic Of Free Coding';
    color: #fff;
    position: absolute;
    overflow: hidden;
    animation: loadingSlide 3s steps(100) infinite;
}
@keyframes loadingSlide {
    0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
}
