footer{
    background-color: #F2F2F2;
}
footer>section.FooterComponent{
    width: 1280px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}
/* Footer 상단 태그 */
footer>section.FooterComponent>article.FooterTextWrap>ul.FooterNotice{
    display: flex;
    column-gap: 20px;
    margin-bottom: 60px;
}
footer>section.FooterComponent>article.FooterTextWrap>ul.FooterNotice>li{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
/* Footer 중간 태그 */
footer>section.FooterComponent>article.FooterTextWrap>div.FooterAddress{
    margin-bottom: 20px;
}
footer>section.FooterComponent>article.FooterTextWrap>div.FooterCopyright>span.UpperCase{
    text-transform: uppercase;
}
footer>section.FooterComponent>article.FooterLogoWrap>svg#FooterLogo{
    width: 134px;
}

@media (max-width: 1280px) {
    footer>section.FooterComponent{
        width: 100%;
        padding: 60px 50px;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    footer>section.FooterComponent{
        padding: 60px 30px;
        
    }
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterCopyright,
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterCopyright>span.UpperCase,
    footer>section.FooterComponent>article.FooterTextWrap>ul.FooterNotice>li,
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterAddress
    {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    footer>section.FooterComponent{
        padding: 60px 10px;
    }
    footer>section.FooterComponent>article.FooterLogoWrap>svg#FooterLogo{
        width: 110px;
        margin-bottom: 10px;
    }
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterAddress {
        margin-bottom: 10px;
    }
    footer>section.FooterComponent>article.FooterTextWrap>ul.FooterNotice {
        display: flex;
        column-gap: 20px;
        margin-bottom: 50px;
    }
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterCopyright,
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterCopyright>span.UpperCase,
    footer>section.FooterComponent>article.FooterTextWrap>ul.FooterNotice>li,
    footer>section.FooterComponent>article.FooterTextWrap>div.FooterAddress
    {
        font-size: 13px;
    }
    footer>section.FooterComponent{
        justify-content: initial;
        flex-direction: column;

    }
    footer>section.FooterComponent>article.FooterTextWrap{order: 2;}
    footer>section.FooterComponent>article.FooterLogoWrap{order: 1;}
}
