.DepthComponent>div.DepthWrap{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
}
.DepthComponent>div.DepthName{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.16px;
}
.DepthComponent>div.DepthWrap>div.DepthMenu{
    width: 200px;
    height: 70px;
    border-radius: 6px;
    border: 1px solid #D5D5D5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.14px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.DepthComponent>div.DepthWrap>div.DepthMenu.Activate{
    color: #00D67A;
    border: 1px solid #00D67A;
}

@media (max-width: 1280px) {
    .DepthComponent{
        margin: 0px 50px 50px 50px;
    }
    .DepthComponent>div.DepthWrap{
        display: flex;
        width: 100%;
        flex-direction: row;
        column-gap: 15px;
        row-gap: initial;
    }
    .DepthComponent>div.DepthWrap>div.DepthMenu{
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    .DepthComponent{
        margin: 0px 20px 50px 20px;
    }
    .DepthComponent>div.DepthWrap{
        margin-top: 20px;
    }
    .DepthComponent>div.DepthWrap>div.DepthMenu{
        justify-content: center;
        padding-left: 0px;
        font-size: 18px;
    }
}


@media (max-width: 600px) {
    .DepthComponent{
        margin: 0px 10px 50px 10px;
    }
    .DepthComponent>div.DepthWrap>div.DepthMenu{
        width: 100px;
        height: 50px;
        font-size: 14px;
    }
}