*{font-family: 'Noto Sans KR',sans-serif;}
/* Noto Sans KR 폰트 별 굵기, 리소스 요청 */
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Thin.woff2) format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Light.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Bold.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: Noto Sans KR;
    src : url(../public/font/Noto_Sans_KR/NotoSansKR-Black.woff2) format('woff2');
    font-weight: 900;
}
/* Roboto 폰트 별 굵기, 리소스 요청, 영문 대소문자, 숫자만 적용 */
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Thin.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 100;
}
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Light.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 300;
}
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Regular.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 400;
}
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Medium.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 500;
}
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Bold.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 700;
}
@font-face { 
    font-family: Noto Sans KR;
    src : url(../public/font/Roboto/Roboto-Black.woff2) format('woff2');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
    font-weight: 900;
}